button.MuiPickersDay-root {
  width: 25px;
  height: 25px;
}

.MuiTypography-root.MuiDayCalendar-weekDayLabel {
  height: 25px;
}

div.MuiPickersDay-hiddenDaySpacingFiller {
  width: 25px;
  height: 25px;
}

div.MuiDateCalendar-viewTransitionContainer {
  height: 160px;
}

div.MuiDateCalendar-root {
  width: 200px;
  height: 240px;
  z-index: 10;
  background-color: white;
}

div.MuiPickersCalendarHeader-labelContainer {
  font-size: 0.85rem;
}

button.MuiPickersArrowSwitcher-button {
  padding: 0;
}

button.MuiPickersCalendarHeader-switchViewButton {
  padding: 0;
}

div.MuiPickersCalendarHeader-root {
  padding: 0;
  margin: 0;
}

div.MuiYearCalendar-root {
  width: auto;
  height: 185px;
}

div.MuiDayCalendar-weekContainer {
  width: 194.4px;
  padding-left: 1.8px;
}

div.MuiDayCalendar-header {
  width: 200px;
}

span.MuiBadge-anchorOriginTopRightCircular {
  font-size: 0.4rem;
}

button.MuiPickersDay-root.Mui-selected {
  background-color: #51ac6d !important;
}
